.label {
  text-align: left;
}
.input-field {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 1rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #0b2e2b;
  color: #fff;
  font-size: 0.95rem;
}

.input-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #fff;
}
