/* Sidebar.css */
.sidebar {
  height: 100vh; /* full height */
  width: 220px;
  background-color: #1e90ff;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.sidebar-nav button {
  background: none;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.2s;
}

.sidebar-nav button:hover {
  background: linear-gradient(45deg,   #1e90ff, #00bfff);
}

.sidebar-logout {
  background: #00bfff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto; /* sticks to bottom */
  transition: background 0.2s;
}

.sidebar-logout:hover {
   transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 65, 108, 0.5);
  background: linear-gradient(45deg,  #00bfff, #1e90ff);
}
